<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="행동 이름"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    <div class="form-group">
      <label>행동 종류</label>
      <select name="system.actionType">
        {{#each actionTypes as |label type|}}
        <option value="{{type}}" {{#if (eq ../system.actionType type)}}selected{{/if}}>{{label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label>판정 유형</label>
      <select name="system.checkType">
        {{#each checkTypes as |label type|}}
        <option value="{{type}}" {{#if (eq ../system.checkType type)}}selected{{/if}}>{{label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label>판정 대상</label>
      {{#if (eq system.checkType "skill")}}
      <select name="system.checkTarget">
        <option value="">기능 선택...</option>
        {{#each skills as |label value|}}
        <option value="{{value}}" {{#if (eq ../system.checkTarget value)}}selected{{/if}}>{{label}}</option>
        {{/each}}
      </select>
      {{else if (eq system.checkType "attribute")}}
      <select name="system.checkTarget">
        <option value="">속성 선택...</option>
        {{#each attributes as |label value|}}
        <option value="{{value}}" {{#if (eq ../system.checkTarget value)}}selected{{/if}}>{{label}}</option>
        {{/each}}
      </select>
      {{else}}
      <input name="system.checkTarget" type="text" value="{{system.checkTarget}}" placeholder="판정 없음"/>
      {{/if}}
    </div>

    <div class="form-group stacked">
      <label>설명</label>
      <textarea name="system.description" rows="8">{{system.description}}</textarea>
    </div>

  </section>

</form>
